<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Jalluindeksi</title>
        <meta name="description" content="">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
        <link href='https://fonts.googleapis.com/css?family=Lato:400,100,300' rel='stylesheet' type='text/css'>

    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <h1>Päivän hinta on</h1>
        <p class="hinta">Ladataan...</p>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
        <script src="http://ricostacruz.com/jquery.transit/jquery.transit.min.js"></script>

        <script>

          // var JALLU = "http://i.imgur.com/TrEG1s0.jpg";
          var JALLU = "http://i.imgur.com/9weFxFb.png";

          function jalluyllatys() {
            var jallu = document.createElement("img");
            jallu.src = JALLU;
            jallu.width = 50;
            jallu.style.position = "absolute";
            jallu.style.top = "-10px";
            // jallu.style.z-index = '-22';
            // jallu.style.left = (Math.floor(Math.random() * ((0.9*screen.width) - 0 + 1))) + "px";
            document.body.appendChild(jallu);
            animoi("img");
          }

          function animoi(arg) {
            console.log("go");
            $(arg).transition({ rotate: '+=2deg', x: '+=10px' }, function() { animoi(arg); });
          }

          jalluyllatys();
          // animoi();
          // setInterval(animoi,1000);

          jQuery.get('/price', function(data) {
            $(".hinta").html(data + " euroa");
          })
        </script>

        <style>
          body {
            font-family: 'Lato', sans-serif;
            font-size:5.9vw;
            text-align: center;
          }
        </style>

    </body>
</html>
